.menu-toggle {
  cursor: pointer;
  width: $gap-8;
  height: $gap-6;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;

  span {
    transition: transform .3s ease-in-out;
    content: '';
    display: block;
    width: $gap-8;
    height: $gap-1;
    background-color: $color-white;

    &:nth-child(1) {
      border-radius: $gap-4 $gap-4 0 0;
      -webkit-animation:outT .4s backwards;
      animation:outT .4s backwards;
      -webkit-animation-direction:reverse;
      animation-direction:reverse;
    }

    &:nth-child(2) {
      margin: 5px 0;
      -webkit-animation:outM .4s backwards;
      animation:outM .4s backwards;
      -webkit-animation-direction:reverse;
      animation-direction:reverse;
    }

    &:nth-child(3) {
      border-radius: 0 0 $gap-4 $gap-4;
      -webkit-animation:outBtm .4s backwards;
      animation:outBtm .4s backwards;
      -webkit-animation-direction:reverse;
      animation-direction:reverse;
    }
  }

  &:hover {
    span:nth-child(1) {
      transform: translateY(2px)
    }

    span:nth-child(3) {
      transform: translateY(-2px)
    }
  }
}

@-webkit-keyframes inM{
  50%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(45deg);}
}
@keyframes inM{
  50%{transform:rotate(0deg);}
  100%{transform:rotate(45deg);}
}

@-webkit-keyframes outM{
  50%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(45deg);}
}
@keyframes outM{
  50%{transform:rotate(0deg);}
  100%{transform:rotate(45deg);}
}

@-webkit-keyframes inT{
  0%{-webkit-transform: translateY(0px) rotate(0deg);}
  50%{-webkit-transform: translateY(9px) rotate(0deg);}
  100%{-webkit-transform: translateY(9px) rotate(135deg);}
}
@keyframes inT{
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(9px) rotate(0deg);}
  100%{transform: translateY(9px) rotate(135deg);}
}

@-webkit-keyframes outT{
  0%{-webkit-transform: translateY(0px) rotate(0deg);}
  50%{-webkit-transform: translateY(9px) rotate(0deg);}
  100%{-webkit-transform: translateY(9px) rotate(135deg);}
}
@keyframes outT{
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(9px) rotate(0deg);}
  100%{transform: translateY(9px) rotate(135deg);}
}

@-webkit-keyframes inBtm{
  0%{-webkit-transform: translateY(0px) rotate(0deg);}
  50%{-webkit-transform: translateY(-9px) rotate(0deg);}
  100%{-webkit-transform: translateY(-9px) rotate(135deg);}
}
@keyframes inBtm{
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(-9px) rotate(0deg);}
  100%{transform: translateY(-9px) rotate(135deg);}
}

@-webkit-keyframes outBtm{
  0%{-webkit-transform: translateY(0px) rotate(0deg);}
  50%{-webkit-transform: translateY(-9px) rotate(0deg);}
  100%{-webkit-transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(-9px) rotate(0deg);}
  100%{transform: translateY(-9px) rotate(135deg);}
}
