.section-main {
  padding: $gap-16 0;
  background-color: $color-black;

  @include media-breakpoint-up(md) {
    padding: $gap-64 0;
  }

  .article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    @include media-breakpoint-up(sm) {
      left: 70%;
      width: 50%;
    }

    @include media-breakpoint-up(xl) {
      left: 69%;
      min-width: 41.25rem;
    }

    @include media-breakpoint-up(xxl) {
      left: 70%;
    }
  }
}

.brands-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    width: 70%;
  }

  .brand-svg {
    max-width: $gap-8;
    height: $gap-6;

    @include media-breakpoint-up(md) {
      max-width: $gap-28;
    }
  }
}

.service-icon {
  width: $gap-24;
}